<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 连接字符串是否加密 -->
    <add key="partner" value="1"/>
    <add key="return_url" value="http://localhost:8899/Pay/GetPay.ashx"/>
    <add key="seller_email" value="zhangsan@126.com"/>
    <add key="key" value="mk@2$z"/>
    <add key="payGateUrl" value="http://localhost:6688/AliPay/PayGate.ashx"/>
	</appSettings>
	<connectionStrings>
		<add name="connString" connectionString="Data Source=DYZQ7FQKEST0MOZ;Initial Catalog=book_shop3;Integrated Security=True"/>
    
	</connectionStrings>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="Off"/>
		<identity impersonate="true"/>
		<authentication mode="Forms">
			<forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
			</forms>
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
